<div class="pro_main">
    <div class="upper_sec">
        <img src="<%-product.path%>" alt="">
        <div>
        <h2><%- product.name  %></h2>
        <h3><%- product.price  %>$</h3>
        <a class="btn btn-info" href="/cart/add-to-cart/<%= product._id %>">Add to Cart</a>
        <h5>Product Details</h5>
        <span><%- product.Details  %></span>
    </div>

    </div>

    <div class="lower_sec">

    </div>
</div>