<div class="body-part">
  <section class="hero-style">
    <h3>Trade-in-offer</h3>
    <h2>Super value deals</h2>
    <h1>On all Products</h1>
    <p>Save more with coupens 80%</p>
    <button>Shop Now</button>
  </section>

  <div class="feathers">

    <div class="ft">
      <img src="/img/features/f1.png" alt="">
      <p>Free Shipping</p>
    </div>

    <div class="ft">
      <img src="/img/features/f2.png" alt="">
      <p>Online Order</p>
    </div>

    <div class="ft">
      <img src="/img/features/f3.png" alt="">
      <p>Save Money</p>
    </div>

    <div class="ft">
      <img src="/img/features/f4.png" alt="">
      <p>Promotion</p>
    </div>

    <div class="ft">
      <img src="/img/features/f5.png" alt="">
      <p>Happy Sale</p>
    </div>

    <div class="ft">
      <img src="/img/features/f6.png" alt="">
      <p>24/7 Support</p>

    </div>


  </div>


  <div class="product-sec">

    <h1>Feather Products</h1>
    <p>Summer Collection With Discounts</p>
    <!-- 
        <div class="products-part">



          <div class="product">
            <img src="/img/products/f1.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f2.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f3.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f4.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f5.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f6.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f7.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f8.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f1.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f6.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

          <div class="product">
            <img src="/img/products/f3.jpg" alt="">
            <div class="product-body">
              <p>alibaba</p>
              <p id="des">Cotton Astronout T-Shirts</p>
              <div class="stars">
                <ul>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                </ul>
              </div>
              <p id="price">$76.5</p>
              <div class="shop">
                <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
              </div>
            </div>
          </div>

        </div>
 -->
    <div class="products-part">

      <% record.forEach(e=> { %>
        <div class="product">
          <img src="<%- e.path %>" alt="">
          <div class="product-body">
            <p>alibaba</p>
            <p id="des"><%- e.name %></p>
            <div class="stars">
              <ul>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              </ul>
            </div>
            <p id="price">$<%-e.price %></p>
            <div class="shop">
              <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
            </div>
          </div>
        </div>



        <% }); %>



    </div>

  </div>

  <div class="banner">
    <p class="re">Repair Services</p>
    <p>Up to <span>70% off</span> - All T-shirts and Assecories</p>
    <div class="ban-btn" id="explore">
      <a href="#">Explore More</a>
    </div>


  </div>

  <div class="product-sec new-pro">

    <h1>New Arrival</h1>
    <p>New Summer Collection</p>

    <!-- <div class="products-part">



      <div class="product">
        <img src="/img/products/n1.jpg" alt="">
        <div class="product-body">
          <p>alibaba</p>
          <p id="des">Cotton Astronout T-Shirts</p>
          <div class="stars">
            <ul>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
            </ul>
          </div>
          <p id="price">$76.5</p>
          <div class="shop">
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>

      <div class="product">
        <img src="/img/products/n2.jpg" alt="">
        <div class="product-body">
          <p>alibaba</p>
          <p id="des">Cotton Astronout T-Shirts</p>
          <div class="stars">
            <ul>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
            </ul>
          </div>
          <p id="price">$76.5</p>
          <div class="shop">
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>

      <div class="product">
        <img src="/img/products/n3.jpg" alt="">
        <div class="product-body">
          <p>alibaba</p>
          <p id="des">Cotton Astronout T-Shirts</p>
          <div class="stars">
            <ul>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
            </ul>
          </div>
          <p id="price">$76.5</p>
          <div class="shop">
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>

      <div class="product">
        <img src="/img/products/n4.jpg" alt="">
        <div class="product-body">
          <p>alibaba</p>
          <p id="des">Cotton Astronout T-Shirts</p>
          <div class="stars">
            <ul>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
            </ul>
          </div>
          <p id="price">$76.5</p>
          <div class="shop">
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>

      <div class="product">
        <img src="/img/products/n5.jpg" alt="">
        <div class="product-body">
          <p>alibaba</p>
          <p id="des">Cotton Astronout T-Shirts</p>
          <div class="stars">
            <ul>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
            </ul>
          </div>
          <p id="price">$76.5</p>
          <div class="shop">
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>

      <div class="product">
        <img src="/img/products/n6.jpg" alt="">
        <div class="product-body">
          <p>alibaba</p>
          <p id="des">Cotton Astronout T-Shirts</p>
          <div class="stars">
            <ul>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
            </ul>
          </div>
          <p id="price">$76.5</p>
          <div class="shop">
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>

      <div class="product">
        <img src="/img/products/n7.jpg" alt="">
        <div class="product-body">
          <p>alibaba</p>
          <p id="des">Cotton Astronout T-Shirts</p>
          <div class="stars">
            <ul>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
            </ul>
          </div>
          <p id="price">$76.5</p>
          <div class="shop">
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>

      <div class="product">
        <img src="/img/products/n8.jpg" alt="">
        <div class="product-body">
          <p>alibaba</p>
          <p id="des">Cotton Astronout T-Shirts</p>
          <div class="stars">
            <ul>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
            </ul>
          </div>
          <p id="price">$76.5</p>
          <div class="shop">
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
          </div>
        </div>
      </div>



    </div> -->

    <div class="products-part">

      <% new_pro.forEach(e=> { %>
        <div class="product">
          <img src="<%- e.path %>" alt="">
          <div class="product-body">
            <p>alibaba</p>
            <p id="des"><%- e.name %></p>
            <div class="stars">
              <ul>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-star"></i></a></li>
              </ul>
            </div>
            <p id="price">$<%-e.price %></p>
            <div class="shop">
              <a href=""><i class="fa-sharp fa-solid fa-cart-shopping"></i></a>
            </div>
          </div>
        </div>



        <% }); %>



    </div>
  </div>


</div>

<div class="banner2">

  <div class="b1">
    <span class="p1">crazy deals</span>
    <span class="p2">Buy one Get one free</span>
    <span>best classical deals</span>
    <div class="button">
      <a href="#">Learn more</a>
    </div>

  </div>

  <div class="b1 b2">
    <span class="p1">whinter Collection</span>
    <span class="p2">Buy one Get one free</span>
    <span>best winter deals</span>
    <div class="button">
      <a href="#">Collections</a>
    </div>

  </div>

  <div class="b1 b2 b3">
    <span class="p2">Sale</span>
    <span class="p1">New Arrival</span>
  </div>

  <div class="b1 b2 b4">
    <span class="p2">Season Sale</span>
    <span class="p1">Winter collection 50%-off</span>

  </div>

  <div class="b1 b2 b5">
    <span class="p2">Season Sale</span>
    <span class="p1">Winter collection 50%-off</span>

  </div>

</div>

<!-- Footer -->





<!-- </div> -->