<link rel="stylesheet" href="/profile-edit.css">
<div class="main2">
    <div class="wrapper2">
        <div class="form-div">
            <h2>Edit Your Profile</h2>
            <form action="/profile-edit1/<%= user._id %>" method="post">
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input placeholder="<%- user.name %>" value="Ammar" name="name" type="text">
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input placeholder="<%= user.email %>" type="email" name="email" id="email" value="ammar@gmail.com">
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input placeholder="password" type="password" value="ammar" id="password" name="password">
            </div>

            <% 
            let role1 = user.role.join(", ")
             %>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input placeholder="<%= role1  %>" type="text" readonly name="role" value="user" >
            </div>
            <a style="text-decoration: none;" href="/profile-edit1/<%= user._id %>"><button class="btn" >Edit</button></a>
        </form>
        </div>
    </div>

</div>